<!DOCTYPE html>
<html>
<head>
	<title>Email & SMS</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<p>First Name:<input type="text" ng-model="fname"> {{fname}}</p> 
<p>Last Name:<input type="text" ng-model="lname"></p>
<p>Email:<input type="text" ng-model="email"></p>
<p>Mobile:<input type="text" ng-model="mobile"></p>
<p><input type="submit" ng-click="register()"></p>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="app.js"></script>
</html>