
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body ng-app='smsApp' ng-controller='myCtrl'>

<p>An email has been sent to the provided email with further instructions.Please check your mail and login to the website</p>

		  <script src="bower_components/angular/angular.min.js"></script>
          <script src="bower_components/angular-route/angular-route.min.js"></script>
          <script src="bower_components/jquery/dist/jquery.min.js"></script>
          <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
          <script src="js/controller.js"></script>
</body>
</html>